/***********************/
/*-------team---------*/
/*********************/


.teamblockone .container{padding-top:15%}
.teamblockone{
  background:
    url("/images/about_back_01a.png"),
    url("/images/about_back_01.png"),
    url("http://www.januar.ch/wp-content/uploads/2013/05/home_designbureau_1600x1000.jpg");
    background-size: contain,contain, cover;
    background-repeat:no-repeat;
    background-position: top, bottom, center;
    background-attachment:scroll,scroll,fixed;
  }
  .teamblockone h2, .teamblockone h4{font-weight:300}
  .teamblockone div{}


  .teamblocktwo {
  background:  url("/images/about_back_02b.png") #696ae9;
  background-position: bottom;
  background-size: contain;
   background-repeat:no-repeat;
  padding:2.5em 0
  }

    .teamblocktwo h4{color:#fff; font-weight:300}


.teamblockthree{
    background:url("/images/about_back_03.png");
    background-size: contain;
    background-repeat:no-repeat;
}

  .teamblockthree .our-team
    {
    padding-top:3em
    }

    .our-team h3{font-weight:300}


  .member-entry{}
    .member-entry{
      height:12em;
      display:block;
      background:no-repeat right;
      position:relative;
      }

    a .member-data {
    color:#333;
    font-size: 75%;
    position:absolute;
    bottom:0
    }

    a .member-data h3{margin-bottom:0;font-size:1.2em; font-weight:700}
    a .member-data .emp-role{margin-top:0}

