/***********************/
/*-------BLOG---------*/
/*********************/


header.blog.post { }
header.blog.post h3{color:#ffffff;font-weight:100}

.tag-label {
  background-color: #5154eb;
}

.post section:after{
  background-repeat: no-repeat;
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1
}

section header .container{z-index: 3;position: relative;}


/*--*/

.pagination{border-bottom: 1px solid #999;border-radius:0}

.pagination>li:first-child>a, .pagination>li:first-child>span,
.pagination>li:last-child>a, .pagination>li:last-child>span
{border-radius:0}

.pagination>.active>a:hover{
     background:none;
    border:none;
    color:#333;
    border-bottom:1px solid #5154eb
}

.pagination>li>a, .pagination>li>span{background:none;border:none}

.pagination>li>a:hover{background:none; }

  .pagination>.active>a {
    background:none;
    border-bottom:1px solid #5154eb ;
    color:#333
    }


/*-------post list-------*/

section header.post-list{
  min-height:15em;
  background:no-repeat;
  background-size: cover;
  background-position: center;
  position: relative
}

section header.post-list .container{padding-top:10%;}

header.post-list aside {margin-top:4.5em;}
  .post-list aside small{color:#999}
header.post-list h1{
  font-size: 5em;
  font-weight: 100;
  color: #999;}

/*-*/.post-excerpt{padding-top:0em;padding-bottom:2em;}
      .post-excerpt aside{margin-top:5.8em;font-size:0.875em}
        .post-excerpt aside small{color:#999}
        .post-excerpt aside a .author {color:#333}


/*-*/
  .post-excerpt.important{}
  .post-excerpt.important aside{margin-top:3em;}

  .post-excerpt.important h3 {
    font-size: 2.250000000em;
    line-height: 1.222222222em;
    margin-top: 1.22222222em;
    margin-bottom: 0.61111111em;
  }
  .post-excerpt.important .post-preview p{
  font-size: 1.150000000em;
  line-height: 1.4em;
  margin-top: 0.91666667em;
  margin-bottom: 0.91666667em;
  font-weight: 300
  }



/*-------post single-------*/

section header.post{
  height:550px;
  background:no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment:fixed;
  position: relative;
  }

section header.post:before{
  background-color: rgba(0, 0, 0, 0.60);
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;}


section header.post .container{ padding-top:20%;}

section header h2{color: #ffffff; margin-top: 0 }
section header h4{color:#fff}

section aside p{margin: 0}
small{color:#ccc;}

section article {z-index: 2;position: relative;}
section article img{width: 100%; }

code{
border: 1px solid #ddd;
background: #f8f8f8;
font-size:85%;
color:#999}


section footer{
  background: none;
  height:auto;
  position: relative;
  z-index: 500
}

section footer .tags .title,section footer .share .title{text-align: right; color: #333;padding-bottom: 3em}
section footer ul{list-style-type: none; text-align: left; margin: 0; padding: 0}
section footer ul li{display: inline-block; font-weight: 500; padding-right: 15px}
section footer ul li span {font-weight: 300}

section footer a{color: #5154eb}
section footer a:hover{color: #999; text-decoration: none}
section footer .socialicons a{color: #5154eb}
section footer .socialicons a:hover{color: #999}


#disqus_thread{padding: 3em 0}

/*----breakpoint for blog----*/

@media (min-width: 992px) {
  section article img{float:none;width: 130%;margin-left:-15%;}
  article .table{background:#f4f4f4;width: 130%;margin-left:-15%;max-width: none }
  section aside{text-align:right;position: absolute;}
  .post-excerpt.important aside{margin-top:8em;text-align:right}
  .post-excerpt{padding-top:3em}
}


@media (max-width: 768px) {
  .navbar-collapse{background: #000}
  .navbar-inverse .navbar-nav{text-align: center;}
  section footer .tags ,section footer .share {padding-bottom: 2em}
  section footer .tags .title,section footer .share .title{text-align: left;padding-bottom: 1em}
  .post-excerpt.important h3, .post-excerpt h3{margin-top:0}
  header.post-list h1{margin:0}
}

.navbar-toggle{
  float: left;
  border:none;
}
