/*******************/
/*------HOME------*/
/*****************/

.homeblockone{

  position:relative;
 
  .over-image{
  //background:#ff0000;
  background: url("/images/home_pos_one.png");
  background-position: left bottom;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
  top: 0;
  z-index:1;
  width:100%;
  height:100%;
  }

  .prpl-bgv-container{
    position: absolute;
    overflow: hidden;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
  }
  .container{padding-top:19%;position: relative;z-index: 5; color:#fff}

}

/******blog part*******/

.homeblocktwo{
  //background: url("/images/home_pos_two.png")#ece6de;
  background-position: left top;
  background-size: cover;
  background-repeat: no-repeat;
  position:relative;


    .container{padding-top:10%}

}

/*******services part**********/

.homeblockthree{
  background: url("/images/home_pos_three.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment:fixed;
  color:#ffffff;

   .container{padding-top:12%}
   h3{padding-bottom:2em}
   .line{padding-top:2em}
   h4{font-weight:700; margin-bottom:0}
   p{margin:0}

}

/********clients part*********/

.homeblockfour{
  //background: url("/images/home_pos_four.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
      .container{padding-top:5%}
      .grid {
      margin-top: 1.8em;
      background:#ffffff;
    
      .row {
        border-bottom: 1px solid #f2f2f2;
          &:last-child {border: none;}

          div{
          border-right: 1px solid #f2f2f2;
          //background:#f2f2f2;
          min-height:16vh;
          position:relative;
            :hover{ opacity:0.5;}
            &:last-child {border: none;}
            
            a{display:block;height:16vh;opacity:1; padding:0 15px}
            
            img{
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
            }

          }
        }
      }
}

/*******about part**********/

.homeblockfive{
  background: url("/images/home_pos_five.png"), url("/images/team.png");
  background-size: cover, contain;
  background-repeat: no-repeat;
  background-position: top, bottom;
   .container{padding-top:5%}

  }