header.services,
header.work-list {
  margin-top: 6.8em;
}

.name {margin: 0px;}

.work-lists .client-logo img {margin-top: 0;}
.work-item {padding: 40px 0;}

.work-item  h3, .client-logo {
  color: #333;
  font-weight:300;

  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;

  -webkit-transform: translate(0, 0);
     -moz-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
       -o-transform: translate(0, 0);
          transform: translate(0, 0);

}


.work-item a .client-logo:before{
        color: #999;
        content:"for";
        font-size:0.875em;
        position:relative;
        padding-right:0.3em;
       }


.work-item:hover {

  h3 {
    -webkit-transform: translate(0, -5px);
       -moz-transform: translate(0, -5px);
        -ms-transform: translate(0, -5px);
         -o-transform: translate(0, -5px);
            transform: translate(0, -5px);
  }

  .client-logo{
    -webkit-transform: translate(0, 3px);
       -moz-transform: translate(0, 3px);
        -ms-transform: translate(0, 3px);
         -o-transform: translate(0, 3px);
            transform: translate(0, 3px);
  }
}


.work-pagination {}

.project-details-page h3 {
  color: #333333;
  margin: .5em 0;
  font-weight: 300;
  font-size: 2.5em;
  text-align: center;
}

section header.project-details-page {
  min-height: 8em;
  background: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

article#work {
  h3 {
    color: #333;
    margin-top: 0;
  }
}

.project-details{
  background: url("/images/back_varios_1.png");
  background-position: middle;
  background-size: contain;
  background-repeat: no-repeat;
}


.project-details-page {

  .client-logo {
    margin-top: 1em;
    margin-bottom: 1em;
    text-align: center;
    padding-top: 1em;

    img {

    }

    a:before{
      color: #999;
      content:"for";
      font-size:0.875em;
      position:relative;
      padding-right:0.3em;
    }

  }
}

.links ul {
  margin:2em 15px 1em 15px;
  padding:0;

  li{
    display: inline-block;
    padding-right: 0.75em;
    padding-left: 0.75em;

    a {
      font-size:0.875em;
    }

    a:before{
      color: #5154eb;
      font-size: 1.3em;
      position: relative;
      top: 4px;
      padding-right: 0.3em;
    }
  }
}

.technologies {
  padding-top: 2em;
  margin-top: 2em;
  font-size: 0.900em;

  span{}

  span:before{
    color:#999;
    font-size: 1.3em;
    position: relative;
    top: 4px;
    padding-right:0.5em;
  }

  ul {
    margin: 0 0 2em 0;
    padding: 0;

    li {
      display:inline-block;
      padding:0 10px 10px 0;

      a{}
    }
  }
}
