
.servicesblockone {
  background:
    url("/images/services_back_01b.png"),
    url("/images/services_back_01a.png");
  background-position: bottom, center;
  background-size: contain, cover;
  background-repeat:no-repeat;
  background-attachment:scroll, fixed;
  padding:0;
  position:relative;

  .container {
    padding-top: 15%;
  }

  h2, h4 {
    color: #fff;
  }
}

.servicesblocktwo{
  background: url("/images/services_back_02b.png");
  background-position: top;
  background-size: contain;
  background-repeat: no-repeat;

  .container{
    padding-top: 7%;
  }
  h3 {
    color: #696ae9;
  }
  .grid {
    margin-top: 1.8em;
  }
  .row {
    border-bottom: 1px solid #ccc;

    &:last-child {
      border: none;
    }

    .serv-icons {
      border-right:1px solid #ccc;
      position:relative;
      &:before {
        content: "";
        display: block;
        margin-top: 100%;
        padding:15px 0;
      }
      &:last-child {
        border:none;
      }
    }
  }

}

.serv-icons div {
  position:absolute;
  top:50%;
  left:50%;
  margin-top:-1.25em;
  margin-left:-1.25em;

  &:before {
    font-size:2.5em;
  }
}



.servicesblockthree {
  background: url("/images/services_back_03.png") #f4f4f4;
  background-position: top;
  background-size: contain;
  background-repeat: no-repeat;
  .container {
    padding-top:12%;
  }
}
.servicesblockthree h3{color:#696ae9}
.servicesblockthree .icon{width:70%;padding-top: 1em;}

.outsourcingAlt{padding-top:4em}
.outsourcingAlt b{display:block; color:#696ae9; }


.servicesblockfour{
background:  url("/images/SAM_1121.png");
background-position: center;
background-size: cover;
background-repeat:no-repeat;
background-attachment:fixed;
}

.servicesblockfour .container{padding-top:10%}

.servicesblockfour  .serv-icons{font-size:2.5em}
.servicesblockfour h4{color:#696ae9;}
