body {
  font-size: 1.000000000em;
  line-height: 1.375000000em;
  font-weight: normal;
}

h1, h2, h3, h4 {font-weight:300}

h1 {
  font-size: 3.375000000em;
  line-height: 1.222222222em;
  margin-top: 0.40740741em;
  margin-bottom: 0.40740741em;
}
h2 {
  font-size: 2.250000000em;
  line-height: 1.222222222em;
  margin-top: 1.22222222em;
  margin-bottom: 0.61111111em;
}
h3 {
  font-size: 1.500000000em;
  line-height: 1.5000000em;
  margin-top: 0.91666667em;
  margin-bottom: 0.91666667em;

}
h4 {
  font-size: 1.150000000em;
  line-height: 1.833333333em;
  margin-top: 0.91666667em;
  margin-bottom: 0.91666667em;
}
p, ul, ol, pre, table, blockquote {
  margin-top: 1.375em;
  margin-bottom: 1.375em;

}

blockquote{
  padding: 1em 0 1em 1.5em;
  font-weight: 300;
  border-left: 4px solid #428bca;
  margin:0;
}

blockquote p{margin:0}

/* Sanitation */
hr {
  border: 1px solid;
  margin: -1px 0;
}

/*ul, ol{ list-style-type: none;}*/

ul ul, ol ol, ul ol, ol ul {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
}
b, strong, em, small, code {
  line-height: 1;
}

.text-right{text-align:right}



/* Alignment */

.text-left           { text-align: left; }

.text-right          { text-align: right; }

.text-center         { text-align: center; }
