/****footer******/

footer{
  background-image: url(../images/footer_home.png);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: bottom left;
  height:285px;
  background-color: #5154eb;
  text-align:center;
  color: #5154eb;
  padding-top: 11.3em;


  .logo {/*padding-bottom: 2em*/}

  .f_mail {padding-bottom: 2.5em; font-size:0.813em}
  .f_mail a{color: #5154eb;font-weight:500}
  .f_mail a:hover{text-decoration:none}

  .f_text {color: rgba(255,255,255,0.8); font-size:0.813em}


  .socialicons {list-style-type: none;font-size: 1.3em;margin: 0; padding: 0 0 2em 0}
  .socialicons li {display: inline-block;}
  .socialicons li a{color: rgba(color: #5154eb); padding: 9px}
  .socialicons li a:hover {text-decoration: none;}

}

/*******************/
