/*--------header trasnsition--------*/

.navbar-nav>li>a{
  line-height:3em;
  transition: line-height 500ms,height 500ms,
  }

.tiny .navbar-nav>li>a {
  line-height:1.5em;
  }

.logo_wrapper{
  text-align: center;
  margin-top:1.1em;
  transition: margin-top 500ms,
}
  .logo_wrapper .logo{
       -webkit-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
        -ms-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;

      -webkit-transform: translate(0, 0);
         -moz-transform: translate(0, 0);
          -ms-transform: translate(0, 0);
           -o-transform: translate(0, 0);
              transform: translate(0, 0);
  }

  .tiny .logo_wrapper .logo{
      -webkit-transform: translate(0, 50px);
         -moz-transform: translate(0, 50px);
          -ms-transform: translate(0, 50px);
           -o-transform: translate(0, 50px);
              transform: translate(0, 50px);

  }

.tiny .logo_wrapper {
margin-top: 0.7em
}


/*------nav bar gris-------*/

.navbar-default{
background: rgba(255, 255, 255, 0.8);
}

/*------nav bar negativo-------*/

.navbar-inverse {
  /*background-color: rgba(0, 0, 0, 0.5);
  background: rgba(0, 0, 0, 0.5);
  color: rgba(0, 0, 0, 0.5);*/
  color: #ffffff;
  border-color:transparent;
  border-width:0;
}
.navbar-inverse .container-fluid{/*border-bottom: 1px solid #fff;*/}

.navbar-inverse .navbar-nav > li > a {color: #ffffff}
  .navbar-inverse .navbar-nav > li > a:hover {margin-bottom:-2px !important}
  .navbar-inverse .navbar-nav > li:hover{background:#333; border-bottom:3px solid #696ae9;}

.contact{text-align: right;}
  .contact li a{color:#696ae9  !important}

/*----------------*/


.ha-header nav a.contact_btn{color: #5154eb;margin-left: 300px}

.nanblock{height: 100%;}
.btn_home{font-size:21px; font-weight: 700;}
.btn_home a{ }
.btn_home a:hover{text-decoration: none }
