@charset "UTF-8";

@font-face {
  font-family: "untitled-font-1";
  src:url("../fonts/untitled-font-1.eot");
  src:url("../fonts/untitled-font-1.eot?#iefix") format("embedded-opentype"),
  url("../fonts/untitled-font-1.woff") format("woff"),
  url("../fonts/untitled-font-1.ttf") format("truetype"),
  url("../fonts/untitled-font-1.svg#untitled-font-1") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "untitled-font-1" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "untitled-font-1" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.icon-youtube:before {
   content: "a"; 
} 
 
.icon-facebook:before {
   content: "d"; 
} 
 
.icon-twitter:before {
   content: "e"; 
} 
 
.icon-github:before {
   content: "c"; 
} 
 
.icon-linkedin-1:before {
   content: "f"; 
} 
 
.icon-mail:before {
   content: "b"; 
} 
 
.icon-gplus:before {
   content: "g"; 
} 
 
.icon-facebook-squared:before {
   content: "h"; 
}
.icon-play-circle:before {
  content: "i";
}
.icon-flow-tree:before {
  content: "k";
}
.icon-window:before {
  content: "l";
}
.icon-icon-demo:before {
  content: "j";
}

//

.icon-serv1:before {
  content: "m";
}
.icon-serv-2:before {
  content: "n";
}
.icon-serv-3:before {
  content: "o";
}
.icon-serv-4:before {
  content: "p";
}
.icon-serv-5:before {
  content: "q";
}
.icon-serv-6:before {
  content: "r";
}
.icon-serv-7:before {
  content: "s";
}
.icon-serv-8:before {
  content: "t";
}
.icon-oser-1:before {
  content: "u";
}
.icon-oser-2:before {
  content: "v";
}
.icon-oser-3:before {
  content: "w";
}