
/*---------------------------------*/
/*----------global styles----------*/
/*---------------------------------*/

html, body {
  padding: 0;
  margin: 0;
  height: 100%;
  font-family: 'Lato', sans-serif;
  background: #fff;
}

div[role=wrapper]{height:100%}
section {position: relative;}

.container-fluid{padding:0;overflow:hidden};
.container.fixheight{min-height: 100vh;}

a{color:#5154eb}
a:hover {color:#5154eb;text-decoration:none}

small{color:#999999;}

ul {list-style-type:none;}

.navbar {
  position: relative;
  margin-bottom: 20px;
  position:fixed;
  top:0;
  overflow:hidden
}

.line{border-top:1px solid #e1e1e1;}

 a.button{display:block; border-bottom:1px solid #5154eb; padding-bottom:0.5em}
