extends ../page

block pageContent

	.container-fluid.homeblockone

		//.over-image

		|<div class="prpl-bgv-container"><video class="prpl-bgv prpl-cover-bgv" id="bgv_FUQKrO" poster="/images/video-posters/final-hero-home.jpg" preload="auto" loop="true" muted="true" autoplay="" style="width: 100%; height: auto; margin-left: 0px;"><source src="http://ffc71bcab7b3b768044d-112878d1308f6723380931f33472aca6.r86.cf1.rackcdn.com/final/hero-home.webmhd.webm" type="video/webm"><source src="http://ffc71bcab7b3b768044d-112878d1308f6723380931f33472aca6.r86.cf1.rackcdn.com/final/hero-home.mp4" type="video/mp4; codecs=&quot;avc1.42E01E, mp4a.40.2&quot;"></video></div>

		.container.fixheight
			.row
				.col-md-8.col-md-offset-2.text-center
					h2 We believe Software is an artistic creation. As any artistic creation, it involves creativity and hard work. One without the other is nothing





	.container-fluid.homeblocktwo
		.container.fixheight
			.row
				.col-md-6.col-md-offset-5
					p form the blog
					h2 Last post title
					small Author 6 June 2014
					h4 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ut eros eget dolor convallis aliquam. Praesent sodales vulputate ante, in cursus nibh scelerisque in. Nunc sed odio suscipit, consequat eros at, tincidunt arcu. Donec in nulla commodo, cursus orci vel, mollis magna.

					a(href='#') read more
					

	.container-fluid.homeblockthree
		.container.fixheight
			.row
				.col-md-8.col-md-offset-2.text-center
					h3 We’ve worked with startups, medium and large well-known companies helping them mostly with technical but also with organizational and business decisions.

					.col-md-4.col-md-offset-4.line

					.col-md-6
						h4 OutSourcing Alternatives
						a(href='#') read more
					.col-md-6
						h4 Product Development
						a(href='#') read more


	.container-fluid.homeblockfour
		.container.fixheight
			.row
				.col-md-8.col-md-offset-2.text-center
					h3 Some of our Clientes
					p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ut eros eget dolor convallis aliquam. Praesent sodales vulputate ante, in cursus nibh scelerisque in.

			.row
				.col-md-8.col-md-offset-2.grid.text-center
					.row
						.col-md-4
							a(href='#')
								img(src='/images/clients_logos/wogic.png')
						.col-md-4
							a(href='#')
								img(src='/images/clients_logos/wogic.png')
						.col-md-4
							a(href='#')
								img(src='/images/clients_logos/wogic.png')

					.row
						.col-md-4
							a(href='#')
								img(src='/images/clients_logos/wogic.png')
						.col-md-4
							a(href='#')
								img(src='/images/clients_logos/wogic.png')
						.col-md-4
							a(href='#')
								img(src='/images/clients_logos/wogic.png')

					.row
						.col-md-4
							a(href='#')
								img(src='/images/clients_logos/wogic.png')
						.col-md-4
							a(href='#')
								img(src='/images/clients_logos/wogic.png')
						.col-md-4
							a(href='#')
								img(src='/images/clients_logos/wogic.png')

	.container-fluid.homeblockfive
		.container.fixheight
			.row
				.col-md-8.col-md-offset-2.text-center
					//h3 team
					h3 Through Creative Thinking, using Innovative Ideas and State-of-art Technologies, we create software with High emphasis on Quality. 
			.row
				.col-md-4.col-md-offset-4.text-center
					a.button(href="#") Hire us, or Send us your comment