extends ../page
include ../partials/projects

block pageContent
	header.work-list
	+projects(page.items)

	if(page.next)
		.container
			.row.text-center
				.col-md-4.col-md-offset-4.work-pagination(data-bind= "visible: next() && !loading()")
					a#loadmore.button(href="/projects?page=#{page.number+1}", data-bind="attr: { href:'/projects?api=true&page='+nextPage()}") Load More
				div.page-loader(data-bind="visible: loading", style="display: none;") Loading

block scripts
	script.
		window.nan = window.nan || {};
		window.nan.model = window.nan.model || {};
		window.nan.model.list = !{JSON.stringify(page.items)};
		window.nan.model.next = !{page.next};
		window.nan.model.page = !{page.number}
	script(src='/js/knockout-3.1.0.js')
	script(src='/js/work.js')