extends ../page

block pageContent

	.container-fluid.servicesblockone
		.container.fixheight.text-center
			.row
				.col-md-8.col-md-offset-2
					h2 Whatever your startup or company needs to create, we can provide the right people for the job.
			.row
				.col-md-6.col-md-offset-3.text-center
					h4 We have experience working remotely on several fields and technologies. Excellent communication skills and a strategic location allow us to have clients all around the world.


	.container-fluid.servicesblocktwo
		.container.fixheight
			.col-md-10.col-md-offset-1
				.col-md-6.grid
					.row
						.col-md-4.serv-icons
							.icon-serv1
						.col-md-4.serv-icons
							.icon-serv-2
						.col-md-4.serv-icons
							.icon-serv-3

					.row
						.col-md-4.serv-icons
							.icon-serv-4
						.col-md-4.serv-icons
							.icon-serv-5
						.col-md-4.serv-icons
							.icon-serv-6

					.row
						.col-md-4.serv-icons
							.icon-serv-7
						.col-md-4.serv-icons
							.icon-serv-8
						.col-md-4.serv-icons
							.icon-serv-9

				.col-md-6

					h3 Product Development

					p
						b If you have an idea for a product but don't have the people to make it come true, we can help you out.

						b We will help you discover the requirements behind that idea, analyze its functional and technical factibility and build it.

					p We offer to perform the whole software development process, including Functional Analysis, Project Management, Technical Architecture Definition, Scalability Plan Definition, Development and Implementation, Deployment and Maintenance.

					p Our professionals have experience in many technologies and fields.
					Our agile development process will allow you to obtain quick results and have constant knowledge of the project status. The constant and fluid communication between you and NaN Labs is key for the product success. This includes daily status meetings, planning meetings and demos, among others.

	.container-fluid.servicesblockthree
		.container.fixheight
			.col-md-10.col-md-offset-1
				.col-md-6
					h3 Outsourcing Alternatives

					p Sometimes our clients have their own development team, but need to increase its size and productivity. For those situations, our highly skilled staff of professionals is a great option.

					p You can trust on NaN Labs to provide you a new team members. One of the main benefits is that you are hiring consultants with an experienced team on their backs. Which translates to good results, good advices, knowledge in several areas, and the opportunity to grow your team with more experienced and high quality resources.


				.col-md-6.outsourcingAlt
					.row
						.col-md-4.text-center
							img.icon(src='images/one.svg')
						.col-md-8
							p
								b.title Individual team members
								Our professionals can help to cover your particular staffing needs.
					.row
						.col-md-4.text-center
							img.icon(src='images/team.svg')
						.col-md-8
							p
								b.titlespan Offshore Team as a unit
								We organize our team and provide centralized communication with the rest of your staff, taking responsibilities and tasks as a unit. You don't need to worry about managing each member.



	.container-fluid.servicesblockfour
		.container.fixheight
			.row.text-center
				h3 Other services

			.row.text-center
				.col-md-4
					.serv-icons.icon-oser-1
					h4 Applications Review
					p Architecture Review, Performance Analysis and Troubleshooting. Improvements Plan Definition and Implementation.

				.col-md-4
					.serv-icons.icon-oser-2
					h4 Mentoring and Coaching
					p Training and Coaching of development teams, New Technologies Training and Talks.

				.col-md-4
					.serv-icons.icon-oser-3
					h4 Research and Innovation
					p Definition and Implementation of best practices, Development Workflow Definition, Research and Implementation of New Technologies.



block scripts
	script.
		window.nan = window.nan || {};
