extends ../page
include ../partials/team

block pageContent

	.container-fluid.teamblockone
		.container.fixheight.text-center
			.col-md-6.col-md-offset-3
				h2	We're a group of developers highly trained and experienced in the IT industry.

				h4	We generate high added value solutions. We address the most demanding projects, focus on quality and aim for excellence. 

	.container-fluid.teamblocktwo.block-wrapper
		.col-md-6.col-md-offset-3.text-center
			h4 For over 10 years, we have been developing solutions on different areas, using a broad variety of technologies, working together with many companies and professionals.


	.container-fluid.teamblockthree
		.container
			section#team.our-team.row
				.col-md-9.col-md-offset-1
					h3.text-center Meet Our Team
					.row
						+team(team)