include partials/social

doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='author', content='')
    meta(name='copyright', content='Copyright (c) 2014 NaN Labs')
    link(rel='shortcut icon', href='/images/favicon.ico')

    block social-meta
        +social-meta("NaN Labs Web Site", "We're a group of developers highly trained and experienced in the IT industry. We're really demanding on the quality and we aim for excellence.", "company")

    title= title

    // Custom styles for this template
    link(href='/css/style.css', rel='stylesheet')



    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->


    // HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries
    <!--[if lt IE 9]><script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script><script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script><![endif]-->



    //link(href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700', rel='stylesheet', type='text/css')

  body
    div(role='wrapper')
        block content

    // Placed at the end of the document so the pages load faster
    script(src='/js/jquery.min.js').
    script(src='/js/bootstrap.min.js')
    script(src='/js/waypoints.min.js')
    script(src='/js/modernizr.custom.js')
    script(src='/js/headertransition.js')
    block scripts

