header
    nav.navbar.navbar-inverse.navbar-fixed-top(role='navigation')
        .container-fluid
            .container#header-transition

                // Brand and toggle get grouped for better mobile display
                .navbar-header.col-md-4
                    button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
                        span.sr-only Toggle navigation
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                    .logo_wrapper
                        a(href='/')
                         img.iso(src='/images/iso_nan.png')
                         img.logo(src='/images/logo.png')

                // Collect the nav links, forms, and other content for toggling
                #bs-example-navbar-collapse-1.collapse.navbar-collapse
                    ul.nav.navbar-nav.col-md-6.col-sm-6
                        li
                            a(href='/services') Services
                        li
                            a(href='/blog') Blog
                        li
                            a(href='/projects') Our Work
                        li
                            a(href='/team') About Us
                    ul.nav.navbar-nav.col-md-2.col-sm-2.contact
                        li
                            a(href='#').contact_btn#trigger-overlay Contact us
