mixin paginator(current, total, url)
    ul.pagination
      - var i = 1;
      - while ( i <= total )
        if current == i
          li(class='active')
            a(href=url+"?page="+i) #{i}
        else
          li
            a(href=url+"?page="+i) #{i}
        - i++;
