ul.nav.nav-list
    - each date in getBlogMonths()
        li.nav-header= date.format('MMMM YYYY')
        - each post in postsWithMonthYear(date.month(), date.year())
            li
                a(href=post.url)= post.title