mixin post-preview(post, options)


        article.row.post-excerpt(class=options.important ? "important" : "")
            aside.col-md-4
                if options.author
                    a(href=authorURL(post.author))
                        .author= post.author.name
                small.date= formatDate(post.date)
            .col-md-6
                h3 
                    a(href=post.url)
                        = post.title

                div.post-preview
                    p!= post.preview

                //if options.tags
                    //div.tags
                        //- each tag in post.tags
                            //a(href=tagUrl(tag))
                                //span.label.label-info #{tag}

        .row
            .col-md-2.col-md-offset-5.line