mixin projects(projects)
	ul.work-list-container.container(data-bind="foreach: projects")
		each p in projects
			+project_item(p)


mixin project_item(pr)
		li.work-item.text-center.col-md-4
			a(href='/projects/#{pr.id}', data-bind="attr: {href: '/projects/'+id}")

				h3.name(data-bind="text: name")= pr.name
				.client-logo
					img.logo(src=pr.client.logo, data-bind="attr: {src: client.logo}")


mixin project_details(pr)

	<!--titulo y logo-->
	header
		.row
			.col-md-12
				h3= pr.title

		.row
			.col-md-4.col-md-offset-4.line

		.row
			.col-md-4.col-md-offset-4.client-logo
				a(href=pr.client.url, target="_blank")
					img(src=pr.client.logo)

	.col-md-6.col-md-offset-3
		<!--links-->
		.links.row
			if pr.links
				ul.text-center
					each link in pr.links
						if link.links
							+linkGroup(link)
						else
							li
								+link(link)

		<!--descriptions-->
		.desc.row
			if pr.main_description
				.col-md-6
					!= renderText(pr.main_description)
			if pr.other_descriptions
				.col-md-6.other
					each other_descriptions in pr.other_descriptions
						div!= renderText(other_descriptions.title)
						div!= renderText(other_descriptions.text)

		<!--tecnologias-->
		.technologies.row
			if pr.technologies
				each tech in pr.technologies
					.col-md-4
						span.icon-flow-tree= tech.category
					ul.col-md-8
						each tag in tech.tags
							li= tag


mixin link(link, icon)
	- icon = "icon-" + (link.icon?link.icon:icon)
	a(class=icon, href=link.url)
		if(link.text)
			= link.text


mixin linkGroup(group)
	- var icon = (group.icon?group.icon:getConfig().projects.defaultLinkIcon)
	each link in group.links
		li
			+link(link, icon)
