mixin social-links(links)
	each link in links
		li
			a(class="icon-#{link.name}", href=link.url, target="_blank")

mixin social-share(url, post)
	- var encodedUrl = encodeURIComponent(url);
	- var encodedText = encodeURIComponent(post.title);
	- var encodedSource = encodeURIComponent("NaN Labs Blog");
	- var encodedDescription = encodeURIComponent(post.preview);

	ul.socialicons
		li
			a.icon-facebook-squared(href="https://www.facebook.com/sharer/sharer.php?u=#{encodedUrl}&t=#{encodedText}", title="Share on Facebook", target="_blank", onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;")
		li
			a.icon-linkedin-1(href="http://www.linkedin.com/shareArticle?mini=true&url=#{encodedUrl}&title=#{encodedText}&source=#{encodedSource}&summary=#{encodedDescription}" title="Share on LinkedIn", target="_blank", onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=570,width=520');return false;")
		li
			a.icon-twitter(href="https://twitter.com/share?text=#{encodedText}&url=#{encodedUrl}&via=nanlabs&hashtags=#{post.tags.slice(0,3).join()}", title="Share on Twitter", target="_blank", onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;")
		li
			a.icon-mail(href='mailto:?subject=' + encodeURIComponent("Check out this post: ") + encodedText + '&body=' + encodeURIComponent("Link: " + url) , title="Share via E-Mail", target="_blank")
		//a(href="https://plus.google.com/share?url=#{encodedUrl}", title="Share on Google+", target="_blank", onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=350,width=480');return false;")
		//    i.fa.fa-3x(class='fa-google-square')

mixin social-meta(title, description, type)
	meta(name="twitter:title", property="og:title", content=title)
	meta(property="og:site_name", content="NaN Labs")
	meta(property="og:type", content=type)
	meta(property="og:url", content=currentUrl)
	meta(name='description', property="og:description", content=description)
	meta(name="twitter:image", property="og:image", content="http://nan-labs.com/assets/themes/nanlabs/img/logo.png")
	meta(name="twitter:card", content="summary")
	meta(name="twitter:site", content="@nanlabs")
	meta(name="twitter:description", content=description)