mixin team(team)
	each emp in team
		if !emp.hide
			.col-md-6
				+employee-team(emp)


mixin employee-team(emp)
		a(href="#{emp.linkedin}" target="_blank").member-entry(style="background-image: url(/images/team/#{emp.photo});")
			.col-md-7.member-data.text-right
				h3= emp.name
				p.emp-role= emp.position
				p= emp.email
				//.icon-linkedin-1
				//.icon-mail




mixin member-author(emp, options)
	- if(typeof options.photo === "undefined") options.photo = true
	- if(typeof options.links === "undefined") options.links = true
	- if(typeof options.position === "undefined") options.position = true
	.member-entry
		if options.photo
			.row
				a(href=authorURL(emp))
					img(src="/images/team/" + emp.photo)
		.row
			a(href=authorURL(emp))
				h4= emp.name
			if options.position
				p= emp.position
			if options.links
				a(href="mailto:"+emp.email, target="_blank")
					i.fa(class='fa-envelope')
				if emp.linkedin
					a(href=emp.linkedin, target="_blank")
						i.fa(class='fa-linkedin-square')


mixin member-photo(emp)
	img(src="/images/team/" + emp.photo)