extends ../../page
include ../../partials/post-preview
include ../../partials/team
include ../../partials/pagination

block pageContent
	- var showAuthor=false;
	- var showTags=true;

	header.post-list
		.container
			block header
	.container
		- each post, i in result.items
			+post-preview(post, {important: (result.pageNumber === 1 && i === 0), tags: showTags, author: showAuthor})
	.container
		.col-md-4.col-md-offset-4
			if result.pageCount > 1
				+paginator(result.pageNumber, result.pageCount, url)