extends ../../page
include ../../partials/team
include ../../partials/tags
block social-meta
	+social-meta(post.title, post.preview, "article")

block pageContent
	header.blog.post(style="background-image: url(../../images/#{post.bg});")
		.container
			aside.col-md-4
				div
					p
						small
							a(href=authorURL(post.author))= post.author.name
							.date= formatDate(post.date)
			.col-md-6
				h2= post.title
				h4= post.preview
	.container.blog.post
		.row
			article.col-md-6.col-md-offset-4.content
				!= post.content
	footer
		.container
			.row.tags
				.col-md-4.title
					| Tags
				ul.col-md-6
					+tags(post)
			.row.share
				.col-md-4.col-sm-12.title
					| Share
				.col-md-6.col-sm-12
					+social-share(currentUrl, post)
			// disqus
			.row
				.col-md-6.col-md-offset-4.col-sm-12
					include ../../partials/comments
